//environment {
//    __NV_PRIME_RENDER_OFFLOAD "1"
//    __GLX_VENDOR_LIBRARY_NAME "nvidia"
//
//	GBM_BACKEND "nvidia-drm"
//	__GLX_VENDOR_LIBRARY_NAME "nvidia"
//	LIBVA_DRIVER_NAME "nvidia"
//	NVD_BACKEND "direct"
//
//	__NV_PRIME_RENDER_OFFLOAD "1"
//	__VK_LAYER_NV_optimus "NVIDIA_only"
//	AQ_FORCE_LINEAR_BLIT "0"
//	AQ_DRM_DEVICES "/dev/dri/card0:/dev/dri/card1"
//}

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
        repeat-delay 250
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        accel-profile "flat"
    }
    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "1920x1080@120.030"
    position x=0 y=0
}

output "HDMI-A-1" {
    position x=1920 y=0
}

workspace "r1" { open-on-output "HDMI-A-1"; }
workspace "r2" { open-on-output "HDMI-A-1"; }
workspace "r3" { open-on-output "HDMI-A-1"; }
workspace "r4" { open-on-output "HDMI-A-1"; }

workspace "l1" { open-on-output "eDP-1"; }
workspace "l2" { open-on-output "eDP-1"; }
workspace "l3" { open-on-output "eDP-1"; }
workspace "l4" { open-on-output "eDP-1"; }

layout {
    gaps 0
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 0.33333
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }

    focus-ring { off; }
    border { off; }
}

window-rule {
    open-maximized true
    match app-id=r#"firefox"#
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

spawn-at-startup "hyprpaper"
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP; waybar"
spawn-sh-at-startup "clipse -listen"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 0.6
}

binds {
    Mod+Shift+W { spawn "firefox"; }
    Mod+Shift+T { spawn "Telegram"; }
    Mod+Shift+D { spawn "discord"; }
    Mod+Shift+V { spawn "throne"; }
    Mod+Shift+F { spawn "dolphin"; }
    Mod+T { spawn "kitty"; }
    Mod+V { spawn-sh "kitty -e clipse"; }
    Mod+Shift+E { spawn-sh "bash -c 'if tmux has-session 2>/dev/null; then prime-run kitty -e tmux attach; else prime-run kitty -e tmux; fi'"; }
    Mod+Shift+B { spawn-sh "kitty -e btop"; }
    Mod+D { spawn-sh "wofi --show drun"; }
    Mod+P { spawn "~/.config/waybar/scripts/power"; }
	Mod+Shift+N { spawn-sh "kitty -e wlctl"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    Mod+G { toggle-window-floating; }
    Mod+Shift+G { switch-focus-between-floating-and-tiling; }
    Mod+F { fullscreen-window; }
    Mod+M { maximize-column; }
    Mod+W { toggle-column-tabbed-display; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Tab { focus-workspace-previous; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }

    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+S { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }

    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Escape { spawn "hyprlock"; }
    Mod+Shift+Escape { quit; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    Mod+Ctrl+Alt+Page_Up allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    Mod+Ctrl+Alt+Page_Down allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    Mod+Ctrl+Page_Up   { spawn-sh "playerctl next"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    Mod+Ctrl+Page_Down { spawn-sh "playerctl previous"; }
    XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	Mod+Ctrl+Delete    { spawn-sh "playerctl play-pause"; }
    XF86AudioStop  allow-when-locked=true { spawn-sh "playerctl stop"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
}
