<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
    </pluginGroups>
    <servers>
        <server>
            <id>releases</id>
            <username>deployment</username>
            <password>soo1xeeL</password>
        </server>
    </servers>
	<mirrors>
        <mirror>
            <id>unblock-corporate-repo</id>
            <mirrorOf>maven-public</mirrorOf>
            <url>http://192.168.32.5:8081/repository/maven-public/</url>
        </mirror>
        <mirror>
            <id>unblock-corporate-plugin-repo</id>
            <mirrorOf>maven-public-plugins</mirrorOf>
            <url>http://192.168.32.5:8081/repository/inversion-maven-plugins-releases/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
            </properties>
            <pluginRepositories>
                <pluginRepository>
                    <id>central-plugins</id>
                    <url>https://repo1.maven.org/maven2</url>
                </pluginRepository>
				<pluginRepository>
                    <id>maven-public-plugins</id>
                    <url>http://192.168.32.5:8081/repository/inversion-maven-plugins-releases/</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
				<repository>
                    <id>maven-public</id>
                    <url>http://192.168.32.5:8081/repository/maven-public/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>
